body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:600px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:600px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:505px;
  width:48px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:163px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:301px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:433px;
  width:100px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:40px;
  width:126px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:170px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:301px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:437px;
  width:80px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:2px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
